@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /* курсив */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap'); /* карандашом */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&display=swap'); /* обычный */

/*
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Indie Flower', cursive; */

* {
    margin: 0;
}

*::selection{
    color: white;
    background-color: black;
}

*, *:before, *:after {
  box-sizing:border;
}


body {
    background-color: #FBFBFB;
}


.container {

    z-index: 1;
    width: 1200px;

    margin: 0 auto;
    padding: 10px;


   /* position: relative;
    display: flex;
    align-items: center;
    justify-content: center; */

}

h1, h2, p {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
}

p {
    font-size: 20px;
    padding: 10px;
}

.content {

    padding: 10px;

}

.h11 {
    height: 100%;
    align-items: center;
    display: inline-flex;
    padding: 20px;
    align-self: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

.lng-h1-header-name {
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    font-weight: 600;
}

.lng-h1-header-title {
    display: inline-block;
    margin: 0 auto;
    font-weight: 200;
    vertical-align: middle

}

.logo-href {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

header {
    background-color: #BEEDAA;
    display: inline-block;
    width: 100%;

}

.video-description {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    width: 540px;
}

.problem-description {
    padding: 20px;
}

iframe {
    display: inline-block;
    width: 560px;
    height: 315px;
}

.useful-content {
    display: block;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.languages {
    position: relative;
    margin-bottom: 1rem;
    float: right;
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
    /*
    float: right;
    padding-top: 25px;
    padding-right: 40px; */
}

.languages select {
    display: block;
    width: 100%;
    background: none;
    border: 0;
    appearance: none;
    -webkit-appearance: none;

    font-family: 'Playfair Display', serif;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px 10px;

}

.languages::after {
    content: '';
    display:block;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #000000 transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
    margin-right: -11px;
}

.space {
    height: 300px;
}
